In [2]:
import pandas as pd

In [10]:
allData = pd.read_csv(r"C:\Users\ASUS Pc\Desktop\VSCodeProject\yazlab12\clean_data.csv", encoding='latin1')

allData.head()

,Product,Issue,Company,State,ZIP code,Complaint ID
0,savings account Checking,account Managing,NAVY CREDIT UNION FEDERAL,FL,328XX,3238275
1,savings account Checking,account Managing,CREDIT UNION BOEING EMPLOYEES,WA,98204,3238228
2,collection Debt,Communication tactics,CURO Intermediate Holdings,TX,751XX,3237964
3,repair personal reports reporting credit Credi...,Incorrect report information,Recovery Services Inc Astra Ad,LA,708XX,3238479
4,savings account Checking,account Managing,ALLY INC FINANCIAL,AZ,85205,3238460

In [11]:
# herhangi bir stuna ulasmka icin 

allData['Product'].head()
print('*'*100)

****************************************************************************************************

In [12]:
# spesifik bir productu istersek de == 'temp' dememiz yeterli bize true false dondurur

selectedProduct = allData['Product'] == 'savings account Checking '
print(selectedProduct.head())

0     True
1     True
2    False
3    False
4     True
Name: Product, dtype: bool

In [13]:
# true ya gore bastirmak istersek de
allData[selectedProduct].head()

,Product,Issue,Company,State,ZIP code,Complaint ID
0,savings account Checking,account Managing,NAVY CREDIT UNION FEDERAL,FL,328XX,3238275
1,savings account Checking,account Managing,CREDIT UNION BOEING EMPLOYEES,WA,98204,3238228
4,savings account Checking,account Managing,ALLY INC FINANCIAL,AZ,85205,3238460
19,savings account Checking,account Managing,ALLY INC FINANCIAL,CO,81302,3237160
54,savings account Checking,Problem charging account lender company,NAVY CREDIT UNION FEDERAL,MD,207XX,3237252

In [14]:
# Not bu islemi yani filterlama true olaylarını birkac sey icin de yapabilirz onun icin | or & and eklersin

# DataFrame info
allData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1282355 entries, 0 to 1282354
Data columns (total 6 columns):
 #   Column        Non-Null Count    Dtype
---  ------        --------------    -----
 0   Product       1282355 non-null  object
 1   Issue         1282355 non-null  object
 2   Company       1282355 non-null  object
 3   State         1262955 non-null  object
 4   ZIP code      1167057 non-null  object
 5   Complaint ID  1282355 non-null  int64
dtypes: int64(1), object(5)
memory usage: 58.7+ MB

#### Suan gosteremiyorum ama allData['benzerlik'] > 65 olanları al meselea

In [9]:
# Stuna ozgu bir birinden farklı verileri almak icin
allData['Product'].unique()

array(['savings account Checking ', 'collection Debt ',
       'repair personal reports reporting credit Credit consumer services ',
       'Mortgage ', 'Student loan ', 'loan Vehicle lease ',
       'card Credit prepaid ', 'personal Payday loan title ',
       'virtual Money currency service money transfer ',
       'Credit reporting ', 'card Credit ', 'Bank account service ',
       'Loan Consumer ', 'card Prepaid ', 'service financial Other ',
       'Payday loan ', 'transfers Money ', 'currency Virtual '],
      dtype=object)

#### id sini degistirmek icin allData.set_index('product')

#### allData.iloc[0] bize indexe gore 0. indexi verir

#### allData.loc[gercek index degeri] bize o indexi verir

#### aralık vermek icin mesela allData.iloc[0:3]

#### meseela bir stundu duzenlicen allData['product'] == (allData['point'] * 3)

In [15]:
#  kolonları gormek icin
allData.columns

Index(['Product', 'Issue', 'Company', 'State', 'ZIP code', 'Complaint ID'], dtype='object')

In [16]:
# indexler icin
allData.index

RangeIndex(start=0, stop=1282355, step=1)

####  Tüm nanları düşürür allProduct.dropna()

#### Type atamak icin allProduct['deneme'].astype('float')

In [18]:
# icersinde iceriyorsa cagir komutu
allData['Product'].str.contains("savings")

0           True
1           True
2          False
3          False
4           True
           ...
1282350    False
1282351    False
1282352    False
1282353    False
1282354    False
Name: Product, Length: 1282355, dtype: bool